doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/jquery.min.js')
    script(scr="https://code.jquery.com/jquery-3.3.1.slim.min.js")
  body
    #header
      h1 Assignment 1
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href='/')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/list') Devices
          li.nav-item
            a.nav-link(href='/about') About
    .main_container
      block content

    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='/javascripts/bootstrap.min.js')
